<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.antOnFire.camera-access"
      version="0.1">

    <name>Check access to camera on a device</name>
    <description>Camera access plugin for cordova by antOnFire</description>
    <license>MIT</license>
    <keywords>camera, access</keywords>

    <js-module src="www/CameraAccess.js" name="CameraAccess">
      <clobbers target="CameraAccess" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CameraAccess">
                <param name="ios-package" value="CameraAccess" />
            </feature>
        </config-file>

        <header-file src="src/ios/CameraAccess.h" />
        <source-file src="src/ios/CameraAccess.m" />
    </platform>

</plugin>
